@import "~bootstrap/less/bootstrap";


.has-error {
  .help-block {
    color: lighten(@text-color, 25%); // restore value
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;

  input[type=text] {
    background-color: @input-bg; // restore value
  }

  input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size: 100px;
    opacity: 0;
    outline: none;
    background: #ffffff;
    cursor: inherit;
    display: block;
    z-index: 5;
  }
}

.radio,
.checkbox {
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;

  label {
    padding-left: 0;

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;

      .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      + .cr {
        > .cr-icon {
          transform: scale(3) rotateZ(-20deg);
          opacity: 0;
          transition: all .3s ease-in;
        }
      }

      &:checked {
        + .cr {
          > .cr-icon {
            transform: scale(1) rotateZ(0deg);
            opacity: 1;
          }
        }
      }

      &:disabled {
        + .cr {
          opacity: .5;
        }
      }
    }
  }

  input[type=checkbox],
  input[type=radio] {
    position: absolute;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    margin: 0;
    opacity: 0;
    outline: none;
    background: #ffffff;
    cursor: inherit;
    display: block;
    z-index: 5;
  }

  .has-error {
    .cr {
      border-color: @state-danger-text;
    }
  }
}

.radio {
  .cr {
    border-radius: 50%;
    .cr-icon {
      margin-left: 0.04em;
    }
  }
}

.gly-spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
