@import "~bootstrap/less/bootstrap";

:root {
  --main-color: #130029;
  --link-color: #314B88;
  --link-hover-color: #536EAD;
}

body {
  font-family: "futura-pt", futura, "Myriad Pro", "Proxima Nova", sans-serif;
  color: var(--main-color);
  padding-top: 62px;
}

h2 {
  font-size: 24px;
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}


.gap {
  padding-left: 90px;
  padding-right: 90px;
}

.content {
  position: relative;
  float: left;
  width: calc(100vw - 285px);
  min-height: calc(100vh - 62px);
}

.chat-icon {
  display: none;
}

.menu-icon {
  display: none;
}

.navbar-toggle,
.navbar-toggle:focus,
.navbar-toggle:hover,
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  display: none !important;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 55px;
  width: 60%;
  background-color: var(--link-color);
  height: calc(100% - 62px);

  .menu-nav {

    list-style-type: none;
    padding: 0;

    .menu-list-item {
      padding: 20px;

      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
      }

      &.active a {
        border-bottom: 4px solid #ffd57d;
      }
    }
  }
}

.navbar-logo-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar-name {
    display: none;
  }

  .navbar-logo {
    display: none !important;
  }
  
  .navbar-logo-mobile {
    display: initial;
    position: fixed;
    left: 19px;
    top: 17px;
    
    img {
      width: 24px;
      height: 29px;
    }
  }

  .content {
    width: 100%;
  }

  .banner {
    margin: 0;
  }

  .header-icon {
    border-radius: 4px;
  }

  .menu-icon {
    display: initial;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 14px 10px 9px 10px;
    
    &.menu-active {
      background-color: rgba(255, 255, 255, .2);
    }
  }

  .chat-icon {
    display: initial;
    position: fixed;
    right: 65px;
    top: 10px;
    
    svg {
      height: 28px;
      width: 28px;
    }
    
    padding: 9px 10px 5px 10px;
    
    &.chat-active {
      background-color: rgba(255, 255, 255, .2);
    }

  }

  .chat {
    width: 80% !important;
  }

  .chat:not(.chat-visible) {
    visibility: hidden;
  }

}