.iframe {
  background-image: url("/images/landing.png");
  padding-top: 60px ;
  padding-bottom: 60px;
  height: 450px;

  .title {
    font-size: 65px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 20px;
  }

  button {
    background-image: url("/images/buttons/play/game_button.png");
    background-color: transparent;
    padding: 0;
    width: 148px;
    height: 54px;
    border: 0;
    margin: 50px 0;

    &:hover {
      background-image: url("/images/buttons/play/game_button_clicked.png");
      background-color: transparent;
    }
  }
}
