.iframe {
  background-image: url("/images/landing.png");
  height: 450px;
  margin: 0 -90px;
  padding: 60px 90px;

  .title {
    font-size: 65px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 20px;
  }

  button {
    background-color: #FF8E64;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    width: 148px;
    height: 54px;
    border: 0;
    margin: 50px 0;

    &:hover {
      background-color: #FF7656;
    }

    img {
      width: 16px;
      height: 16px;
      margin-top: -5px;
      margin-right: 5px;
    }
  }
}

.preview {
  h3 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
  }

  img {
    margin: 0 auto;
    display: block;
  }

  a.explore {
    margin-top: 25px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #737892;
  }
}


.announce {
  h3 {
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 25px;
  }

  img {
    margin: 0 auto;
    display: block;
  }
}
