.carousel-nav-button {
  position: absolute;
  top: 50%;
  height: 70px;
  width: 55px;
  background-color: rgba(255, 255, 255, .4);
  transform: translate(0, -50%);
  cursor: pointer;
  
  &:hover {
    background-color: rgba(255, 255, 255, .75);
  }
}

.carousel-nav-button-left {
  left: 0;
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    width: 25px;
    position: absolute;
    left: 12px;
  }
}

.carousel-nav-button-right {
  right: 0;
  transform: translate(0, -50%) rotate(180deg);
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    width: 25px;
    position: absolute;
    left: 12px;
  }
}

.games {
  .banner {
    &.etheronline {
      background-image: url("/images/landing.png");
    }

    &.magicacademy {
      background-image: url("/images/magic_banner.png");
    }

    background-size: auto 100%;
    background-position: center;
    height: 450px;
    margin: 0 -90px;
    position: relative;

    .btn {
      color: var(--main-color);
      background: linear-gradient(to right, rgb(177, 200, 232) 0%, rgb(251, 252, 255) 100%); // #B1C8E8 #FBFCFF
      font-size: 22px;
      font-weight: 700;
      padding: 0;
      width: 148px;
      height: 54px;
      line-height: 54px;
      border: 0;
      border-radius: 2px;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      margin: 30px auto;
      left: 0;
      right: 0;

      &:hover {
        background: linear-gradient(to right, rgb(113, 137, 182) 0%, rgb(220, 222, 232) 100%); // #7189B6 #DCDEE8
        color: var(--main-color);
      }

      img {
        width: 16px;
        height: 16px;
        margin-top: -5px;
        margin-right: 5px;
      }
    }
  }

  .airdrop {
    background-color: #F1F5FF;
    margin: 0 -90px;
    color: var(--link-color);
    text-align: center;
    padding: 15px 0 25px 0;
    border-bottom: 1px solid rgb(199, 198, 242);

    .btn {
      margin: 0 auto;
    }

    .countdown {
      margin-top: 30px;

      .caption {
        text-transform: uppercase;
        font-size: 12px;
      }

      .time {
        max-width: 500px;
        margin: 0 auto;

        .value {
          font-weight: 400;
          font-size: 65px;
          line-height: 65px;
        }
        .units {
          font-weight: 400;
          font-size: 11px;
          text-transform: uppercase;
        }
      }
    }

    .giveaway {

      img {
        width: 66px;
        height: 45px;
        display: block;
        margin: 0 auto;
      }

      .caption {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: var(--main-color);
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .btn {
        text-transform: uppercase;
      }
    }
  }

  .announce {
    margin-bottom: 62px;
    margin-top: 18px;

    h3 {
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    img {
      margin: 0 auto;
      display: block;
      width: 100%;
    }

    .upcoming-thumbnail {
      &:nth-child(1), &:nth-child(2) {
        margin-top: 0;
      }
      margin-top: 40px;
      img {
        width: 400px;
        height: 200px;
      }
    }
  }

  .explore {
    line-height: 32px;
    font-size: 14px;
    background-color: #fef9fb;
    color: #88789a;
    padding: 0 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    a {
      text-transform: uppercase;
      margin-left: 20px;
      color: #88789A;
    }
  }
}

