{
  "env": {
    "development": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        [
          "inline-import",
          {
            "extensions": [".css", ".less"]
          }
        ],
        "react-hot-loader/babel",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "transform-object-rest-spread",
        "transform-function-bind",
        "transform-async-generator-functions"
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        [
          "inline-import",
          {
            "extensions": [".css", ".less"]
          }
        ],
        "react-hot-loader/babel",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "transform-object-rest-spread",
        "transform-function-bind",
        "transform-async-generator-functions"
      ]
    },
    "test": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        [
          "inline-import",
          {
            "extensions": [".css", ".less"]
          }
        ],
        "styled-jsx/babel",
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-function-bind",
        "transform-async-generator-functions"
      ]
    }
  }
}
