.nav-tabs {
  li {
    a {
      color: #130029;
      font-size: 14px;
      line-height: 16px;
    }

    &.active {
      a {
        font-size: 16px;
        font-weight: bolder;
      }
    }
  }

}

h3 {
  font-size: 18px;
  font-weight: bold;
}
