.item {
  padding-left: 35px;
  padding-right: 35px;

  .thumbnail {
    padding: 0;
    border: 0;

    .caption {
      h4 {
        font-size: 14px;
        font-weight: bold;
      }

      .btn {
        font-size: 11px;
        text-transform: uppercase;
        line-height: 28px;
        border-radius: 0;
        border: 0;

        &.sell {
          color: #959EB4;
          background-color: #D4DAE9;
        }

        &.gift {
          color: #ffffff;
          background-color: #4D4B85;

          &:hover {
            background-color: #7D5EA2;
          }
        }
      }

      .badge {
        margin-right: 3px;
        background-color: #ffffff;
        border: 1px solid #C9C9C9;
        border-radius: 12px;
        color: #797979;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
