.plus {
  background-color: #ffd57d;
  color: #4d4b85;
  font-weight: 700;
  font-size: 14px;
  width: 24px;
  display: inline-block;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  margin: 0 15px 0 10px;
  box-shadow: 0 2px 2px 0 rgba(34, 30, 124, 0.5);

  &, &:hover {
    text-decoration: none;
  }
}
