.plus {
  width: 25px;
  height: 31px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 10px;
  background-image: url("/images/buttons/balance/add.png");

  &:hover {
    background-image: url("/images/buttons/balance/add_clicked.png");
  }
}
