.plus {
  background-color: #ffd57d;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  width: 24px;
  display: inline-block;
  line-height: 24px;
  text-align: center;


  &, &:hover {
    text-decoration: none;
  }
}
