.navbar {
  background-color: #4D4B85;
  // background-image: linear-gradient(#6FA4F4, #9089F3);
  border-radius: 0;
  border: 0;
  margin: 0;
  z-index: 1050;

  .container-fluid {
    padding-left: 90px;
    padding-right: 90px;
  }

  .navbar-brand {
    padding: 13px 15px;
    height: 62px;

    .navbar-logo {
      margin-top: 4px;
      width: 24px;
      display: inline-block;
      float: left;
    }

    .navbar-name {
      font-weight: bold;
      font-size: 20px;
      margin-left: 10px;
      line-height: 36px;
      color: #FFD57D;
      text-transform: uppercase;
      letter-spacing: .04em;

      &, &:hover {
        text-decoration: none;
      }
    }
  }

  .navbar-text {
    color: #ffffff;
    line-height: 62px;
    font-size: 13px;
    margin: 0 15px;
  }

  .navbar-nav {
    > .open {
      > a {
        &,
        &:hover,
        &:focus {
          color: #ffffff;
          background-color: transparent;
        }
      }
    }
  }

  .dropdown-menu {
    li {
      a {
        color: var(--main-color) !important;

        &:hover {
          color: #ffffff !important;
          background: var(--main-color) !important;
        }
      }
    }
  }

  .navbar-nav {
    > li {
      > a {
        color: #ffffff;
        font-size: 15px;
        line-height: 32px;
        text-transform: uppercase;

        &:hover, &:focus {
          color: #ffffff;
        }
      }

      &.active {
        > a {
          &,
          &:hover,
          &:focus {
            color: #ffffff;
            font-weight: bold;
            background-color: initial;
          }

          span {
            border-bottom: 4px solid #ffd57d;
            padding-bottom: 17px;
          }
        }
      }
    }
  }
}
