.navbar {
  background-color: var(--link-color);
  border-radius: 0;
  border: 0;
  margin: 0;
  z-index: 1050;

  .container-fluid {
    padding-left: 90px;
    padding-right: 90px;
  }

  .navbar-brand {
    padding: 13px 15px;
    height: 62px;

    .navbar-logo {
      margin-top: 4px;
      width: 24px;
      display: inline-block;
      float: left;
    }

    .navbar-name {
      font-weight: 700;
      font-size: 20px;
      margin-left: 10px;
      line-height: 36px;
      color: #FFD57D;
      text-transform: uppercase;
      letter-spacing: .04em;

      &, &:hover {
        text-decoration: none;
      }
    }
  }

  .navbar-text {
    color: #ffffff;
    line-height: 62px;
    font-size: 13px;
    margin: 0 15px;
  }

  .navbar-nav {
    > .open {
      > a {
        &,
        &:hover,
        &:focus {
          color: #ffffff;
          background-color: transparent;
        }
      }
    }
  }

  .dropdown-menu {
    li {
      a {
        &:hover {
          background: var(--link-color) !important;
        }
      }
    }
  }

  .main-menu {
    > li {
      > a {
        color: #ffffff;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        padding-top: 0;
        padding-bottom: 0;

        &:hover, &:focus {
          color: #ffffff;
        }

        span {
          line-height: 62px;
          display: inline-block;
        }
      }

      &.active {
        > a {
          &,
          &:hover,
          &:focus {
            color: #ffffff;
            background-color: initial;
          }

          span {
            box-shadow: inset 0px -4px 0px 0px #ffd57d;
          }
        }
      }
    }
  }
}
