.modal {
  .modal-body {
    min-height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    color: #130029;
    text-align: center;

    .modal-body {
      padding: 25px;
    }

    h2 {
      font-size: 35px;
    }

    p {
      font-size: 15px;
    }

    .note {
      font-size: 12px;
      margin-top: 15px;
      opacity: .5;

      a {
        color: #130029;
        text-decoration: underline;
      }
    }
  }
}

