@media (min-width: 768px) {
  .lang-menu {
    padding-left: 0;
  }
}
.lang-menu > a {
  line-height: 32px !important;
}
.lang-menu > a img {
  width: 25px;
}
.lang-menu .dropdown-menu {
  background-color: #BCC4DE;
  min-width: 0;
}
.lang-menu .dropdown-menu img {
  width: 25px;
}
